/**********
 * FONTS
 ********** */
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/**********
 * VARIABLES
 ********** */

/* PALETTE
Bread: https://www.color-hex.com/color-palette/35476 
And strawberry jam :) https://www.color-hex.com/color-palette/13436 */

:root {
    --primary: #eec07b;
    --secondary: #422308;
    --dark: rgb(24, 14, 5);
    --accent: #680023;
    --light: #d8c4aa;
    --whiteish: #f0ede8;
}

/**********
 * GENERAL
 ********** */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--whiteish);
}

section + section {
    margin-top: 3%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ms Madi";
    font-weight: bold;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 5rem;
}

p {
    margin-bottom: 1lh;
}

address {
    font-style: normal;
}

/* CLASES */
.button {
    color: var(--whiteish);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--secondary);
    border-radius: 12px;
    display: inline-block;
    padding: 15px 20px;

    &:hover {
        background-color: var(--accent);
    }
}

.container {
    width: 90%;
    margin: 0 auto;
}



/********************
 * HEADER AND FOOTER
 ******************** */

header, footer {
    background-color: var(--dark);

    ul {
        list-style-type: none;

        a:hover {
            color: var(--primary);
        }
    }
}

header {
    padding: 15px 0;
    background-color: var(--dark);
    
    & > nav {
        /* background-color: red; */

        display: flex;
        justify-content: space-between;
        align-items: center;


        & > div {
            max-width: 80px;
        }

        ul {
            width: 80%;
            /* background-color: aqua; */
            display: flex;
            justify-content: space-between;

            li {
                padding: 0 5%;
            }

            a {
                color: var(--whiteish);
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

footer {
    padding: 40px 0;
    color: var(--whiteish);

    a {
        color: var(--whiteish);
    }

    & > div {
        display: flex;
        justify-content: space-between;
    }

    #footer-contacto {
        ul {
           display: flex;
           justify-content: center;
           align-items: center;
           border: 1px solid red;
           
           li {
            padding: 0 2%;
           }

           a {
            text-decoration: none;
           }
        }
    }

}

/********
 * INDEX
 ******** */

/* INDEX - BANNER */
section#intro-banner {
    height: 90vh;
    background: linear-gradient(rgba(24, 14, 5, 0.7), rgba(24, 14, 5, 0.7)), url('./assets/img/banner3.jpg');
        /* https://pixabay.com/es/photos/panader%c3%ada-panes-clasificado-surtido-1868925/ */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    color: var(--whiteish);
    display: flex;
    align-items: center;

    p, a {
        font-size: 1.5rem;
    }

    & > div  {
        display: flex;
        justify-content: center;

        & > div {
            padding: 50px;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;

        }
    }
}

section#intro-promo {
    text-align: center;

    div:has(> img) {
        max-width: 250px;
        margin: 0 auto;
    }
}

section#intro-products {
    display: grid;
    /* grid-template-areas:
        "bread-text" "bread-img"
        "pastries-img" "pastries-text"
    ; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    & > div > div {
        
    }

    #intro-products-bread, #intro-products-pastries {

        & > div {
            width: 100%;
            background-color: #ddd;
        }
        
    }

    #intro-products-bread {
        background-color: aqua;
        grid-row: 1 / 2;

        .grid-text {
            grid-column: 1 / 2;
        }

        .grid-img {
            background-image: url('./assets/img/panes.jpg');
            background-position: center;
            background-size: cover;
            border: 1px solid blue;
            grid-area: 2 / 3;
        }
    }

    #intro-products-pastries {
        background-color:brown;

        .grid-text {
            grid-area: 2 / 3;
        }

        .grid-img {
            background-image: url('./assets/img/bolleria.jpg');
            background-position: center;
            background-size: cover;
            border: 1px solid red;
            grid-area: 1 / 2;
        }
    }
}
