/**********
 * GENERAL
 ********** */
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Mr+De+Haviland&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;

}

section + section {
    margin-top: 3%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ms Madi";
    font-weight: bold;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 5rem;
}

p {
    margin-bottom: 1lh;
}

/* CLASES */
.button {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(151, 121, 81);
    border-radius: 8px;
    display: inline-block;
    padding: 10px 15px;
}

.container {
    width: 90%;
    margin: 0 auto;
}



/********************
 * HEADER AND FOOTER
 ******************** */

header, footer {
    padding: 15px;

    ul {
        list-style-type: none;
    }

}

header {
    background-color: rgb(151, 121, 81);
    
    & > nav {
        /* background-color: red; */

        display: flex;
        justify-content: space-between;

        & > div {
            max-width: 80px;
            background-color: green;
        }

        ul {
            width: 100%;
            /* background-color: aqua; */
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                padding: 0 5%;
            }

            a {
                color: #fff;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

footer {
    color: #fff;
    background-color: #222222;

    a {
        color: #fff;
    }

    & > div {
        display: flex;

    }
}

/********
 * INDEX
 ******** */

/* INDEX - BANNER */
section#intro-banner {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/img/banner3.jpg');
        /* https://pixabay.com/es/photos/panader%c3%ada-panes-clasificado-surtido-1868925/ */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    color: #fff;
    display: flex;
    align-items: center;

    p, a {
        font-size: 1.5rem;
    }

    & > div  {
        display: flex;
        justify-content: center;

        & > div {
            padding: 50px;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;

        }
    }


}

section#intro-promo {
    text-align: center;
}

section#intro-products {
    display: grid;
    /* grid-template-areas:
        "bread-text" "bread-img"
        "pastries-img" "pastries-text"
    ; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    & > div > div {
        
    }

    #intro-products-bread, #intro-products-pastries {

        & > div {
            width: 100%;
            background-color: #ddd;
        }
        
    }

    #intro-products-bread {
        background-color: aqua;
        grid-row: 1 / 2;

        .grid-text {
            grid-column: 1 / 2;
        }

        .grid-img {
            background-image: url('./assets/img/panes.jpg');
            background-position: center;
            background-size: cover;
            border: 1px solid blue;
            grid-area: 2 / 3;
        }
    }

    #intro-products-pastries {
        background-color:brown;

        .grid-text {
            grid-area: 2 / 3;
        }

        .grid-img {
            background-image: url('./assets/img/bolleria.jpg');
            background-position: center;
            background-size: cover;
            border: 1px solid red;
            grid-area: 1 / 2;
        }
    }
}
